# Node modules and dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build and output files
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Tailwind and PostCSS cache
.postcss-cache
